[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third_party/wirehair"]
	path = third_party/wirehair
	url = https://github.com/catid/wirehair.git
[submodule "third_party/correct"]
	path = third_party/correct
	url = https://github.com/quiet/libcorrect.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
